@import "compass/css3"

/***************************************************************************************/
/**-------------------------- FONT FACE  ---------------------------------------------**/
/***************************************************************************************/

//Monserrate
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)

/***************************************************************************************/
/**-------------------------- VARIABLES ---------------------------------------------**/
/***************************************************************************************/

$gray_color_text : #454545
$gray_color_claro: #EDEEF0

/***************************************************************************************/
/**-------------------------- RESET --------------------------------------------------**/
/***************************************************************************************/

body,html
	//font-family: 'Montserrat', sans-serif
	font-size  : 16px
	width      : 100% 

/***************************************************************************************/
/**-------------------------- SECCIONES EN COMUN -------------------------------------**/
/***************************************************************************************/

//Posicion relativa
/*°|| =================> POSICION RELATIVA */
.relative
	position: relative

//Contenedor con display flex
.container-flex
	display        : flex
	flex-wrap      : wrap 
	justify-content: center
	padding        : 0 !important

.container-flex-center
	align-items: center 
.container--content-flex-center
	align-content: center 



/*°|| ================>> BANNER DE PÁGINAS <<==========================*/
/* figure */
.pageCommon__banner 
/* title */
.pageCommon__banner__title
	align-items    : center
	bottom         : 0
	color          : white
	display        : flex
	justify-content: center
	left           : 0
	position       : absolute
	right          : 0
	top            : 0


/*----------------------------------------------------------------------*/
//°|| ============>> SECCION ARTICULOS - PORTADA =================== ||°*/
/*----------------------------------------------------------------------*/


/***************************************************************************************/
/**-------------------------- HEADER   -----------------------------------------------**/
/***************************************************************************************/

/*|-- MAIN HEADER --|*/
.mainHeader
	padding: 17px 0 0 0

/*|-- LOGO --|*/
.logo
	a 
		display: inline-block


/***************************************************************************************/
/**-------------------------- NAVIGATION----------------------------------------------**/
/***************************************************************************************/

/*|-- MAIN NAVIGATION --|*/
.mainNavigation
	ul 
		margin : 0 auto 
		padding: 0
		//estilos globales
		a 
			text-decoration: none
		//navegacion superior
		&.mainMenu
			li 
				display: inline-block
				//activo u hover
				&:hover
					a
						+box-shadow( inset 150px 0 0 0 $gray_color_claro )
						color: black
				a 
					color      : $gray_color_text
					display    : block
					font-weight: 600
					line-height: 1em
					padding    : 24px
					+box-shadow( inset 0 0 0 white ) 
					+transition( all 300ms linear )


		//submenus

/***************************************************************************************/
/**-------------------------- PAGINA DE INICIO PORTADA -------------------------------**/
/***************************************************************************************/

//°|| ===========>> SLIDER

//°|| ============>> SECCION SERVICIOS
.pageInicio__section-service


/***************************************************************************************/
/**-------------------------------- PAGINA EMPRESA  ----------------------------------**/
/***************************************************************************************/



/***************************************************************************************/
/**-------------------------- FOOTER  -----------------------------------------------**/
/***************************************************************************************/
